h1{
  text-align: center;
  color:black;
  font-size: 50px;
  font-family: cursive;
}
img{
  width: 200px;
  length: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-style: oblique;

}
.jumbotron{
  color:grey;
}
.panel panel-default:{
color: inherit;
  font-family:monospace;
  font-weight: bold;
  font-size-adjust: 14;
  text-align:left;
  font-size: 20px;
}
.well{
  color: inherit;
    font-family:monospace;
    font-weight: bold;
    font-size-adjust: 14;
    text-align: center;
}
h2{
/**  color: inherit;**/
  font-size: 30px
font-family:fantasy;
}
body {}

ul {
  color: magenta;
  font-size: 20px;
  font-family: impact;
  font-family: sans-serif;

}
